要約ルールに従って、情報を {{.MemoryCapacity}} 文字以内で要約してください。

# 要約ルール
- これまでに読んだ文書の内容を記憶するのが要約の目的です。
- 要約の結果が新しい記憶として扱われます。
- 優先度の高い情報を優先して残してください。
  - 優先度高
    - 未解決の疑問点の内容と位置
  - 優先度中
    - これまでに読んだ文書の内容
    - 印象に残った文の内容と位置
    - これまでに読んだ文書の感想
  - 優先度低
    - 解決済の疑問点の内容と位置

# 情報

## 今読んだ文
- 読んだ文の位置: {{.CurrentIndex}}
- 全体の文数: {{.TotalSentences}}
- 文の内容: {{.CurrentSentence}}

## 今読んだ文の感想
{{.NoteSection}}

## 記憶
{{.MemorySection}}
